.main {
}
.title {
  width: 100%;
  max-width: 100%;
  display: flex;
  justify-content: center;
  padding: 0 35px;
}
.title > span:only-of-type {
  max-width: 1630px;
  margin: 0 auto;
  padding: 5px 0;
  width: 100%;
  font-family: var(--font-open-sans);
  font-size: 28px;
  line-height: 38px;
  font-weight: 700;
}

@media screen and (min-width: 1024px) {
  .title > span:only-of-type {
    padding: 50px 0;
    font-size: 32px;
    line-height: 43px;
  }
}
