.wrapper {
  width: 100%;
  max-width: 1630px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
}

.header-bar {
  display: flex;
  max-width: 1208px;
  justify-content: space-between;
  flex-direction: column;
}

.return-link {
  font-family: var(--font-open-sans);
  font-size: 32px;
  font-weight: 700;
  line-height: 43px;
  background: transparent url("/arrow-left.png") no-repeat left center;
  padding-left: 40px;
  margin: 10px 0 30px;
}

.return-link > span:first-of-type {
  color: #363b5c;
}

@media screen and (min-width: 1024px) {
  .return-link {
    margin: 0;
  }
  .header-bar {
    height: 150px;
    flex-direction: row;
    align-items: center;
  }
}
