:root {
  --background: #ffffff;
  --foreground: #363b5c;
  --color-wiedza: #444e8d;
  --color-inspiracje: #ffbf42;
  --color-interpretacje: #d94f4f;
  --color-dostepne: #82e49a;
}

html,
body {
  max-width: 100vw;
}

body {
  color: var(--foreground);
  background: var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
